html{
    min-height: 100%;
}

body {
    /* background-image: linear-gradient(to bottom right,yellow, red); */
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }